<div class="row" ng-focus="ctrler.focus($event)">
    <div class="col-md-3" title="{{item.name}}">{{item.name}}</div>
    <div class="col-md-1"><span class="badge badge-primary">{{item.image}}</span></div>
    <div class="col-md-6">
        <span ng-show="ctrler.statusURL.length">
            <a target="_blank" href="http://{{ctrler.statusURL}}">{{ctrler.statusURL}}</a>&nbsp;
        </span>
    </div>
    <div class="col-md-2">
        <div class="btn-toolbar" role="toolbar" aria-label="Controls">
            <div class="btn-group mr-2" role="group" aria-label="Start">
                <button type="button" class="btn btn-success" ng-disabled="ctrler.running" ng-click="ctrler.start()"><span class="fas fa-play" aria-hidden="true"></span></button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Stop">
                <button type="button" class="btn btn-danger" ng-disabled="!ctrler.running" ng-click="ctrler.stop()"><span class="fas fa-power-off" aria-hidden="true"></span></button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Restart">
                <button type="button" class="btn btn-warning" ng-disabled="!ctrler.running" ng-click="ctrler.restart()"><span class="fas fa-sync-alt" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>