<!doctype html>
<html ng-app="minion">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>Minion</title>

        <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/minion.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
        <script src="static/js/app.js"></script>
    </head>

    <body>
        <div class="container" ng-controller="TabsController as tabs">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item" ng-repeat="t in tabs.availableTabs" id="{{t}}_tab" ng-click="activateTab(t)">
                    <a class="nav-link" ng-class="{active: isActive(t)}" href="#!/{{t}}">{{t | uppercase}}</a>
                </li>
            </ul>

            <div id="status" class="panel panel-default" ng-hide="!isActive('status')">
                <div class="panel-body">
                    <project-status ng-repeat="item in projects" item="item"></project-status>
                </div>
            </div>

            <div id="deploy" class="panel panel-default" ng-hide="!isActive('deploy')">
                <div class="panel-body">
                    <project-deploy ng-repeat="item in projects" item="item"></project-deploy>
                </div>
            </div>

            <div id="branches" class="panel panel-default" ng-hide="!isActive('branches')">
                <div class="panel-body">
                    <project-build ng-repeat="item in projects" item="item" type="branches" param="branch"></project-build>
                </div>
            </div>

            <div id="releases" class="panel panel-default" ng-hide="!isActive('releases')">
                <div class="panel-body">
                    <project-build ng-repeat="item in projects" item="item" type="releases" param="tag"></project-build>
                </div>
            </div>

            <div id="settings" class="panel panel-default" ng-hide="!isActive('settings')">
                    <div class="panel-body">
                        <project-setting ng-repeat="item in projects" item="item"></project-setting>
                    </div>
                </div>

            <!-- <div id="settings" class="panel panel-default" ng-hide="!isActive('settings')">
                <div class="panel-body">
                    <project-setting ng-repeat="item in projects" item="item"></project-setting>
                </div>
            </div> -->
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    </body>
</html>
